@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('FiraSansCondensed-Regular.eot');
    src: url('FiraSansCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('FiraSansCondensed-Regular.woff2') format('woff2'),
        url('FiraSansCondensed-Regular.woff') format('woff'),
        url('FiraSansCondensed-Regular.ttf') format('truetype'),
        url('FiraSansCondensed-Regular.svg#FiraSansCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
