@import "../libs/normalize.css";

@import "../libs/jquery.fullpage.css";

@import "../libs/jquery.magnific-popup/magnific-popup.css";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clear {
  clear: both;
}

body {
  margin: 0;
  background-color: #fff;
  color: #000;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-display: optional;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body img {
  max-width: 100%;
  height: auto;
  border: 0;
}

body ul {
  list-style: none;
}

body input {
  outline: none;
}

body a {
  text-decoration: none;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

body a:hover {
  opacity: .8;
}

body button {
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

body button:hover {
  opacity: .8;
}

body h1,
body h2,
body h3,
body h4,
body p,
body ul,
body input,
body picture {
  margin: 0;
  padding: 0;
}

body .btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#d90404), to(#8e0808));
  background: linear-gradient(to bottom, #d90404, #8e0808);
  border-radius: 7px;
  padding: 5px 65px;
  border: none;
  cursor: pointer;
  border: 3px solid #555;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  font-style: italic;
}

body .btn2 {
  background: #eb1c22;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #fff;
}

body .second-menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 10px;
  z-index: 10;
}

body .second-menu ul li {
  margin-bottom: 10px;
}

body .second-menu ul li a {
  display: block;
  background: url(../img/circle-off.png) 0 0 no-repeat;
  width: 9px;
  height: 9px;
}

body .second-menu ul .active {
  background: url(../img/circle-on.png) 0 0 no-repeat;
  width: 9px;
  height: 9px;
}

body .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1600px;
}

.header-menu {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  z-index: 10;
  background: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
}

.header-menu .header {
  padding: 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.header-menu .header .header-left {
  -ms-flex-preferred-size: 36%;
  flex-basis: 36%;
}

.header-menu .header .header-left a {
  display: block;
  font-size: 0;
  text-align: left;
}

.header-menu .header .header-left a img {
  width: 380px;
}

.header-menu .header .header-middle {
  -ms-flex-preferred-size: 46%;
  flex-basis: 46%;
}

.header-menu .header .header-middle h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.header-menu .header .header-right {
  -ms-flex-preferred-size: 18%;
  flex-basis: 18%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.header-menu .header .header-right a {
  display: block;
  margin-right: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.header-menu .header .header-right p {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.header-menu .header .header-right button {
  margin-left: auto;
}

.header-menu .menu {
  margin-top: 2px;
  margin-bottom: 2px;
}

.header-menu .menu .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu .menu .container ul li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}

.footer {
  background: #fff;
  -webkit-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

.footer .footer-features ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.footer .footer-features ul li {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  margin-right: 5px;
  padding-left: 35px;
  position: relative;
}

.footer .footer-features ul li:last-child {
  margin-right: 0;
}

.footer .footer-features ul li:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5px;
  background: url(../img/check.png) 0 0 no-repeat;
  width: 39px;
  height: 27px;
}

.footer .footer-buy a,
.footer .footer-buy button {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  text-align: center;
  margin: auto;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.footer .footer-buy a:after,
.footer .footer-buy button:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background: url(../img/placeholder.svg) right 0 no-repeat;
  width: 25px;
  height: 25px;
}

#fp-nav {
  background: #737373;
}

#fp-nav ul li {
  margin: 3px;
  height: 50px;
}

#fp-nav ul li a span {
  border: 3px solid #d1d1d1;
  background: #737373;
}

#fp-nav ul li .active span {
  background: #fff;
}

.section {
  padding-bottom: 2px !important;
}

.screen1 {
  background: #fff url(../img/bg1.jpg) center center no-repeat;
  background-size: cover;
}

.screen1 .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.screen1 .main .main-left {
  text-align: center;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  font-size: 0;
  position: relative;
}

.screen1 .main .main-left:after {
  content: '';
  position: absolute;
  bottom: 50px;
  right: 25px;
  background: url(../img/production1-title.png) 0 0 no-repeat;
  width: 217px;
  height: 159px;
}

.screen1 .main .main-left img {
  width: 340px;
}

.screen1 .main .main-right {
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.screen1 .main .main-right .main-discount {
  font-weight: 700;
  font-size: 65px;
  color: #ff0000;
  margin: 40px 0 25px;
  text-transform: uppercase;
}

.screen1 .main .main-right .main-name {
  font-weight: 500;
  font-size: 50px;
  color: #fff;
  margin-bottom: 10px;
}

.screen1 .main .main-right .main-price-old {
  display: block;
  font-weight: 400;
  font-size: 34px;
  color: #fff;
  margin-bottom: 10px;
  text-decoration: line-through;
}

.screen1 .main .main-right .main-price-new {
  display: block;
  font-weight: 700;
  font-size: 65px;
  color: #ff0000;
  margin-bottom: 10px;
}

.screen1 .main .main-right button {
  padding: 10px 100px;
  font-size: 20px;
  margin-bottom: 20px;
}

.screen2 {
  background: #fff;
}

.screen2 h2 {
  font-weight: 400;
  font-size: 42px;
  color: #ff0000;
  text-align: center;
  margin-bottom: 30px;
}

.screen2 .production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.screen2 .production .production-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.screen2 .production .production-left .left {
  font-size: 0;
}

.screen2 .production .production-left .left img {
  width: 300px;
}

.screen2 .production .production-left .right {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin-top: 80px;
}

.screen2 .production .production-left .right h3 {
  font-weight: 700;
  font-size: 24px;
  color: #ff0000;
  text-decoration: underline;
  margin-bottom: 5px;
}

.screen2 .production .production-left .right p {
  font-weight: 700;
  font-size: 24px;
  color: #ff0000;
}

.screen2 .production .production-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.screen2 .production .production-right .left {
  font-size: 0;
}

.screen2 .production .production-right .left img {
  width: 310px;
}

.screen2 .production .production-right .right {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin-top: 80px;
}

.screen2 .production .production-right .right h3 {
  font-weight: 700;
  font-size: 24px;
  color: #ff0000;
  text-decoration: underline;
  margin-bottom: 5px;
}

.screen2 .production .production-right .right p {
  font-weight: 700;
  font-size: 24px;
  color: #ff0000;
}

.screen3 {
  background: #fff;
  text-align: center;
}

.screen3 h2 {
  font-weight: 400;
  font-size: 42px;
  color: #cf1d20;
  text-align: center;
  margin-bottom: 30px;
}

.screen3 .features ul {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 5px;
}

.screen3 .features ul li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #cf1d20;
  margin-bottom: 4px;
  padding-left: 35px;
  position: relative;
}

.screen3 .features ul li:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url('../img/check.png') 0 0 no-repeat;
  width: 30px;
  height: 28px;
}

.screen3 .features p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  text-align: left;
  margin-top: 5px;
  padding-left: 30px;
}

.screen4 {
  background: #fff;
}

.screen4 .guarantee {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.screen4 .guarantee > h2 {
  font-weight: 400;
  font-size: 42px;
  color: #cf1d20;
  margin: 0 0 30px;
  text-decoration: underline;
}

.screen4 .guarantee > p {
  font-weight: 400;
  font-size: 28px;
  color: #cf1d20;
  margin-bottom: 15px;
  text-decoration: underline;
}

.screen4 .guarantee .guarantee-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.screen4 .guarantee .guarantee-box .guarantee-left {
  text-align: left;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}

.screen4 .guarantee .guarantee-box .guarantee-left span {
  display: block;
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.screen4 .guarantee .guarantee-box .guarantee-left span a {
  color: #000;
}

.screen4 .guarantee .guarantee-box .guarantee-left .map {
  margin-bottom: 5px;
}

.screen4 .guarantee .guarantee-box .guarantee-right {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}

.screen4 .guarantee .guarantee-box .guarantee-right h2 {
  font-weight: 400;
  font-size: 40px;
  color: #007bbf;
  text-align: left;
  position: relative;
}

.screen4 .guarantee .guarantee-box .guarantee-right h2:after {
  content: '';
  position: absolute;
  top: 0;
  left: -90px;
  background: url(../img/logo2.png) 0 0 no-repeat;
  width: 98px;
  height: 116px;
}

.screen4 .guarantee .guarantee-box .guarantee-right p {
  font-weight: 400;
  font-size: 22px;
  color: #767575;
  margin-bottom: 10px;
  text-align: left;
}

.screen4 .guarantee .guarantee-box .guarantee-right ul {
  margin-top: 5px;
}

.screen4 .guarantee .guarantee-box .guarantee-right ul li {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  margin-bottom: 5px;
  text-align: left;
  padding-left: 55px;
}

.screen4 .guarantee .guarantee-box .guarantee-right ul li:nth-child(1) {
  background: url(../img/shield.svg) 0 0 no-repeat;
  background-size: 45px;
}

.screen4 .guarantee .guarantee-box .guarantee-right ul li:nth-child(2) {
  background: url(../img/manager.svg) 0 0 no-repeat;
  background-size: 45px;
}

.screen4 .guarantee .guarantee-box .guarantee-right ul li:nth-child(3) {
  background: url(../img/delivery-truck.svg) 0 0 no-repeat;
  background-size: 45px;
}

.screen4 .guarantee .guarantee-box .guarantee-right ul li:nth-child(4) {
  background: url(../img/stopwatch.svg) 0 0 no-repeat;
  background-size: 45px;
}

.screen4 .guarantee .guarantee-box .guarantee-right ul li:nth-child(5) {
  background: url(../img/like.svg) 0 0 no-repeat;
  background-size: 45px;
}

.screen5 {
  background: #fff;
  text-align: center;
}

.screen5 .certificate {
  font-family: 'Roboto', sans-serif;
}

.screen5 .certificate h2 {
  font-weight: 400;
  font-size: 52px;
  color: #cf1d20;
  margin-bottom: 30px;
}

.screen5 .certificate .certificate-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.popup {
  display: none;
  width: 440px;
  padding: 40px 35px 40px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 5px #555;
  box-shadow: 0 0 5px #555;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 80px;
  z-index: 20;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup h3 {
  font-weight: 500;
  font-size: 28px;
  color: #010f0f;
  margin-bottom: 20px;
}

.popup form input {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 14px;
  border: 1px solid #a9a7be;
  background-color: #f8f8f9;
  font-weight: 400;
  font-size: 22px;
  color: #000;
}

.popup form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 22px;
  color: #aea6a6;
}

.popup form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 22px;
  color: #aea6a6;
}

.popup form input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 22px;
  color: #aea6a6;
}

.popup form input::placeholder {
  font-weight: 400;
  font-size: 22px;
  color: #aea6a6;
}

.popup form button {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  font-weight: 500;
  font-size: 26px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #eb1c22;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.popup form button:hover {
  opacity: .8;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 21px;
  height: 21px;
  background: url("../img/x.png") no-repeat;
  border: 0;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.close:hover {
  opacity: 0.8;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

@media only screen and (max-width: 1199px) {
  .screen1 .main .main-right .main-discount {
    font-size: 50px;
    margin-top: 0;
  }

  .screen1 .main .main-right .main-name {
    font-size: 40px;
  }

  .screen1 .main .main-right .main-price-old {
    font-size: 30px;
  }

  .screen1 .main .main-right .main-price-new {
    font-size: 50px;
  }

  .screen2 .production .production-left .right {
    margin-top: 0;
  }

  .screen2 .production .production-right .right {
    margin-top: 0;
  }

  .screen4 .guarantee > h2 {
    font-size: 50px;
  }

  .screen4 .guarantee > p {
    font-size: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .header-menu .header .header-middle h1 {
    font-size: 28px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .screen1 .main .main-right .main-discount {
    font-size: 40px;
    margin-top: 0;
  }

  .screen1 .main .main-right .main-name {
    font-size: 35px;
  }

  .screen1 .main .main-right .main-price-old {
    font-size: 24px;
  }

  .screen1 .main .main-right .main-price-new {
    font-size: 40px;
  }

  .screen1 .main .main-right button {
    padding: 10px 75px;
  }

  .screen2 .production .production-left .left img {
    width: 200px;
  }

  .screen2 .production .production-right .left img {
    width: 200px;
  }

  .screen3 .features ul li {
    font-size: 30px;
  }

  .screen4 .guarantee > h2 {
    font-size: 40px;
  }

  .screen4 .guarantee > p {
    font-size: 25px;
  }

  .screen4 .guarantee .guarantee-box .guarantee-right h2 {
    font-size: 36px;
  }

  .screen4 .guarantee .guarantee-box .guarantee-right h2:after {
    display: none;
  }

  .screen4 .guarantee .guarantee-box .guarantee-right ul {
    margin-top: 0;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    display: none;
  }

  .screen1 .main {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .screen1 .main .main-left {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    padding-top: 50px;
  }

  .screen1 .main .main-right {
    padding-top: 50px;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    text-align: center;
  }

  .screen1 .main .main-right .main-discount {
    font-size: 30px;
    margin-top: 0;
  }

  .screen1 .main .main-right .main-name {
    font-size: 30px;
  }

  .screen1 .main .main-right .main-price-old {
    font-size: 20px;
  }

  .screen1 .main .main-right .main-price-new {
    font-size: 30px;
  }

  .screen1 .main .main-right button {
    padding: 8px 30px;
  }

  .screen2 .production {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .screen2 .production .production-left {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .screen2 .production .production-right {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .screen3 .features ul {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .screen3 .features ul li {
    font-size: 26px;
  }

  .screen3 .features p {
    text-align: center;
  }

  .screen4 .guarantee .guarantee-box .guarantee-left {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .screen4 .guarantee .guarantee-box .guarantee-right {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .screen4 .guarantee .guarantee-box .guarantee-right h2 {
    text-align: center;
    font-size: 32px;
  }

  .screen4 .guarantee .guarantee-box .guarantee-right p {
    text-align: center;
  }
}

@media only screen and (max-width: 680px) {
  .screen4 .guarantee .guarantee-box {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .screen4 .guarantee .guarantee-box .guarantee-left {
    text-align: center;
  }

  .screen4 .guarantee .guarantee-box .guarantee-right ul li {
    text-align: center;
  }
}

@media only screen and (max-width: 575px) {
  .header-menu .header {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .header-menu .header .header-left {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .header-menu .header .header-left a {
    text-align: center;
  }

  .header-menu .header .header-left a img {
    width: 300px;
  }

  .header-menu .header .header-middle {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .header-menu .header .header-middle h1 {
    display: none;
  }

  .header-menu .header .header-right {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding-bottom: 5px;
  }

  .header-menu .header .header-right a {
    margin-bottom: 5px;
  }

  .header-menu .header .header-right p {
    display: none;
  }

  .header-menu .header .header-right button {
    padding: 8px;
  }

  .header-menu .menu {
    display: none;
  }

  .screen1 .main .main-left {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .screen1 .main .main-left img {
    width: 230px;
  }

  .screen1 .main .main-left:after {
    bottom: 20px;
    right: 30%;
  }

  .screen1 .main .main-right {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding-top: 20px;
  }

  .screen2 .production .production-left {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .screen2 .production .production-left .left img {
    width: 160px;
  }

  .screen2 .production .production-left .right {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
  }

  .screen2 .production .production-left .right h3 {
    font-size: 20px;
  }

  .screen2 .production .production-left .right p {
    font-size: 20px;
  }

  .screen2 .production .production-right {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .screen2 .production .production-right .left img {
    width: 160px;
  }

  .screen2 .production .production-right .right {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 20px;
  }

  .screen2 .production .production-right .right h3 {
    font-size: 20px;
  }

  .screen2 .production .production-right .right p {
    font-size: 20px;
  }

  .screen3 .features ul li {
    font-size: 22px;
    padding-left: 0;
  }

  .screen3 .features ul li:after {
    display: none;
  }

  .screen4 .guarantee .guarantee-box .guarantee-right ul li {
    font-size: 18px;
  }

  .screen4 .guarantee .guarantee-box .guarantee-right ul li b {
    font-size: 16px;
    font-style: italic;
  }

  .screen5 .certificate h2 {
    font-size: 42px;
  }

  .screen5 .certificate .certificate-items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 480px) {
  .screen3 .features ul li {
    font-size: 20px;
  }

  .popup {
    width: 400px;
  }
}

@media only screen and (max-width: 400px) {
  .popup {
    width: 330px;
    padding: 20px 15px 15px;
  }
}