@import "../libs/normalize.css";

@import "../libs/slick/slick.css";

@import "../libs/slick/slick-theme.css";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clear {
  clear: both;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: 'GothamProRegular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  font-display: optional;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'GothamProRegular';
  src: url('../fonts/gothamProRegular/GothamPro.eot');
  src: url('../fonts/gothamProRegular/GothamPro.eot?#iefix') format('embedded-opentype'), url('../fonts/gothamProRegular/GothamPro.woff2') format('woff2'), url('../fonts/gothamProRegular/GothamPro.woff') format('woff'), url('../fonts/gothamProRegular/GothamPro.ttf') format('truetype'), url('../fonts/gothamProRegular/GothamPro.svg#GothamPro') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamProMedium';
  src: url('../fonts/gothamProMedium/GothamPro-Medium.eot');
  src: url('../fonts/gothamProMedium/GothamPro-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/gothamProMedium/GothamPro-Medium.woff2') format('woff2'), url('../fonts/gothamProMedium/GothamPro-Medium.woff') format('woff'), url('../fonts/gothamProMedium/GothamPro-Medium.ttf') format('truetype'), url('../fonts/gothamProMedium/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GothamProBlack';
  src: url('../fonts/GothamProBlack/GothamPro-Black.eot');
  src: url('../fonts/GothamProBlack/GothamPro-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamProBlack/GothamPro-Black.woff2') format('woff2'), url('../fonts/GothamProBlack/GothamPro-Black.woff') format('woff'), url('../fonts/GothamProBlack/GothamPro-Black.ttf') format('truetype'), url('../fonts/GothamProBlack/GothamPro-Black.svg#GothamPro-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GothamProBold';
  src: url('../fonts/GothamProBold/GothamPro-Bold.eot');
  src: url('../fonts/GothamProBold/GothamPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamProBold/GothamPro-Bold.woff2') format('woff2'), url('../fonts/GothamProBold/GothamPro-Bold.woff') format('woff'), url('../fonts/GothamProBold/GothamPro-Bold.ttf') format('truetype'), url('../fonts/GothamProBold/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

body img {
  max-width: 100%;
  height: auto;
  border: 0;
}

body ul {
  list-style: none;
}

body input {
  outline: none;
}

body a {
  text-decoration: none;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

body a:hover {
  opacity: .7;
}

body button {
  cursor: pointer;
  outline: none;
}

body button:hover {
  opacity: .8;
}

body h1,
body h2,
body h3,
body h4,
body p,
body ul,
body input,
body picture {
  margin: 0;
  padding: 0;
}

body .btn {
  border-radius: 25px;
  background: #a7e701;
  color: #000;
  border: none;
  -webkit-box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
}

body .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
  height: 100%;
}

.header {
  padding-top: 10px;
  margin-bottom: 20px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .container .header-logo a {
  display: block;
  font-size: 0;
}

.header .container .header-address {
  padding-left: 50px;
  position: relative;
}

.header .container .header-address:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background: url(../img/address.png) 0 0 no-repeat;
  width: 31px;
  height: 46px;
}

.header .container .header-address p {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 23px;
  color: #000;
}

.header .container .header-address p b {
  font-family: 'GothamProBlack', sans-serif;
}

.header .container .header-phone {
  padding-left: 55px;
  position: relative;
}

.header .container .header-phone:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background: url(../img/phone.png) 0 0 no-repeat;
  width: 44px;
  height: 44px;
}

.header .container .header-phone a {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 25px;
  color: #000;
}

.header .container .header-phone a b {
  font-family: 'GothamProBlack', sans-serif;
}

.main-menu .container {
  padding-left: 0;
  padding-right: 0;
}

.main-menu .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.main-menu .container ul li {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#2b7fff), to(#6ca4f8));
  background: linear-gradient(to bottom, #2b7fff, #6ca4f8);
  text-align: center;
}

.main-menu .container ul li:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.main-menu .container ul li:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.main-menu .container ul li a {
  display: block;
  padding: 16px 0;
  font-family: 'GothamProRegular', sans-serif;
  font-size: 22px;
  color: #fff;
}

.main-menu .container ul .active {
  background: #2379fb;
}

.main-menu .container ul .active a {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 22px;
  color: #fff;
}

.promo {
  background: #fff url(../img/promo-bg.jpg) center 0 no-repeat;
  background-size: cover;
  min-height: 830px;
}

.promo .container {
  text-align: center;
}

.promo .container h1 {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 48px;
  color: #fff;
  padding-top: 25%;
  margin-bottom: 40px;
}

.promo .container h1 strong {
  display: block;
  margin-top: 15px;
  font-family: 'GothamProBlack', sans-serif;
  text-transform: uppercase;
}

.features .container {
  text-align: center;
}

.features .container .features-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px;
}

.features .container .features-items .features-item {
  -ms-flex-preferred-size: 28%;
  flex-basis: 28%;
  text-align: center;
}

.features .container .features-items .features-item p {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 20px;
  color: #000;
  margin-top: 20px;
}

.features .container button {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 33px;
  padding: 10px 55px;
  margin-bottom: 20px;
}

.why-training {
  background: #fff url(../img/why-training-bg.jpg) center 0 no-repeat;
  background-size: cover;
  min-height: 1255px;
}

.why-training .container h2 {
  font-family: 'GothamProBold', sans-serif;
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
  padding-top: 85px;
  margin-bottom: 115px;
}

.why-training .container .why-training-left-right {
  margin-left: 180px;
}

.why-training .container .why-training-left-right img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.why-training .container .why-training-left-right h3 {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 34px;
  color: #fff;
  padding-left: 135px;
  margin-bottom: 20px;
  height: 90px;
  position: relative;
}

.why-training .container .why-training-left-right h3:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: #aef100;
}

.why-training .container .why-training-left-right h3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'GothamProBlack', sans-serif;
  font-size: 83px;
  color: #fff;
}

.why-training .container .why-training-left-right p {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 18px;
  color: #fff;
}

.why-training .container .why-training-left-right .top {
  margin-bottom: 50px;
}

.why-training .container .why-training-left-right .top .why-training-top-left {
  display: inline-block;
  vertical-align: top;
  width: 47.5%;
  margin-right: 4%;
}

.why-training .container .why-training-left-right .top .why-training-top-left .item {
  width: 360px;
  margin-right: auto;
}

.why-training .container .why-training-left-right .top .why-training-top-left .item h3:before {
  content: '01.';
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.why-training .container .why-training-left-right .top .why-training-top-right {
  display: inline-block;
  vertical-align: top;
  width: 47.5%;
}

.why-training .container .why-training-left-right .top .why-training-top-right .item {
  width: 400px;
  margin-left: auto;
}

.why-training .container .why-training-left-right .top .why-training-top-right .item h3:before {
  content: '02.';
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.why-training .container .why-training-left-right .middle {
  margin-bottom: 85px;
}

.why-training .container .why-training-left-right .middle .why-training-middle-left {
  display: inline-block;
  vertical-align: top;
  width: 47.5%;
  margin-right: 4%;
}

.why-training .container .why-training-left-right .middle .why-training-middle-left .item {
  width: 360px;
  margin-left: auto;
}

.why-training .container .why-training-left-right .middle .why-training-middle-left .item h3:before {
  content: '03.';
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.why-training .container .why-training-left-right .middle .why-training-middle-right {
  display: inline-block;
  vertical-align: top;
  width: 47.5%;
}

.why-training .container .why-training-left-right .middle .why-training-middle-right .item {
  width: 400px;
  margin-right: auto;
}

.why-training .container .why-training-left-right .middle .why-training-middle-right .item h3:before {
  content: '04.';
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.why-training .container .why-training-left-right .bottom .why-training-bottom-left {
  display: inline-block;
  vertical-align: top;
  width: 47.5%;
  margin-right: 4%;
}

.why-training .container .why-training-left-right .bottom .why-training-bottom-left .item {
  width: 360px;
  margin-right: auto;
}

.why-training .container .why-training-left-right .bottom .why-training-bottom-left .item h3:before {
  content: '05.';
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.why-training .container .why-training-left-right .bottom .why-training-bottom-right {
  display: inline-block;
  vertical-align: top;
  width: 47.5%;
}

.why-training .container .why-training-left-right .bottom .why-training-bottom-right .item {
  width: 400px;
  margin-left: auto;
}

.why-training .container .why-training-left-right .bottom .why-training-bottom-right .item h3:before {
  content: '06.';
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.after-training {
  background: #fff url(../img/after-training-bg.jpg) center 10px no-repeat;
}

.after-training .container h2 {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 30px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
  margin-bottom: 20px;
}

.after-training .container > p {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 20px;
  color: #000;
  text-align: center;
  margin-bottom: 50px;
}

.after-training .container img {
  margin: auto;
  margin-bottom: 20px;
  display: block;
}

.after-training .container .top {
  margin-bottom: 30px;
}

.after-training .container .top .after-training-top-left {
  display: inline-block;
  vertical-align: top;
  width: 49.5%;
  min-height: 164px;
  padding-left: 110px;
  position: relative;
}

.after-training .container .top .after-training-top-left:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/after-training2.png) 0 0 no-repeat;
  width: 100px;
  height: 164px;
}

.after-training .container .top .after-training-top-left h3 {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 28px;
  color: #000;
  margin-top: 40px;
  margin-bottom: 15px;
}

.after-training .container .top .after-training-top-left p {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 18px;
  color: #000;
}

.after-training .container .top .after-training-top-right {
  display: inline-block;
  vertical-align: top;
  width: 49.5%;
  min-height: 164px;
  padding-left: 110px;
  position: relative;
}

.after-training .container .top .after-training-top-right:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/after-training2.png) 0 0 no-repeat;
  width: 100px;
  height: 164px;
}

.after-training .container .top .after-training-top-right h3 {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 28px;
  color: #000;
  margin-top: 40px;
  margin-bottom: 15px;
}

.after-training .container .top .after-training-top-right p {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 18px;
  color: #000;
}

.after-training .container .bottom {
  margin-bottom: 270px;
}

.after-training .container .bottom .after-training-bottom-left {
  display: inline-block;
  vertical-align: top;
  width: 49.5%;
  min-height: 164px;
  padding-left: 110px;
  position: relative;
}

.after-training .container .bottom .after-training-bottom-left:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/after-training2.png) 0 0 no-repeat;
  width: 100px;
  height: 164px;
}

.after-training .container .bottom .after-training-bottom-left h3 {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 28px;
  color: #000;
  margin-top: 40px;
  margin-bottom: 15px;
}

.after-training .container .bottom .after-training-bottom-left p {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 18px;
  color: #000;
}

.after-training .container .bottom .after-training-bottom-right {
  display: inline-block;
  vertical-align: top;
  width: 49.5%;
  min-height: 164px;
  padding-left: 110px;
  position: relative;
}

.after-training .container .bottom .after-training-bottom-right:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/after-training2.png) 0 0 no-repeat;
  width: 100px;
  height: 164px;
}

.after-training .container .bottom .after-training-bottom-right h3 {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 28px;
  color: #000;
  margin-top: 40px;
  margin-bottom: 15px;
}

.after-training .container .bottom .after-training-bottom-right p {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 18px;
  color: #000;
}

.lektor-training {
  background: #fff url(../img/lektor-training-bg.jpg) center 0 no-repeat;
  background-size: cover;
  min-height: 1165px;
}

.lektor-training .container h2 {
  font-family: 'GothamProBlack', sans-serif;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 135px;
  margin-bottom: 3px;
}

.lektor-training .container img {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.lektor-training .container p {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 12px;
  color: #fff;
}

.lektor-training .container .slider {
  min-height: 600px;
}

.lektor-training .container .slider > div {
  text-align: center;
}

.lektor-training .container .slider > div .img {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.lektor-training .container .slider > div .img img {
  margin: auto;
}

.lektor-training .container .slider > div .img span {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  font-family: 'GothamProRegular', sans-serif;
  font-size: 20px;
  color: #000;
  padding-top: 10px;
  background: url(../img/slide-bg.png) 0 0 no-repeat;
  width: 146px;
  height: 44px;
  cursor: pointer;
}

.lektor-training .container .slider > div .img .description {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 20px 10px;
  background: rgba(174, 241, 0, 0.6);
}

.lektor-training .container .slider > div .img .description p {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
}

.lektor-training .container .slider > div h3 {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  margin: 35px 0 20px;
}

.lektor-training .container .slider > div p {
  font-family: 'GothamProREgular', sans-serif;
  font-size: 20px;
  color: #fff;
  margin-bottom: 70px;
}

.lektor-training .container .slider .slick-prev {
  top: 35%;
  right: auto;
  left: -10px;
  z-index: 10;
  background: url('../img/arrow-left.png') 0 0 no-repeat;
  width: 54px;
  height: 102px;
}

.lektor-training .container .slider .slick-prev:hover {
  opacity: .8;
}

.lektor-training .container .slider .slick-prev:before {
  content: '';
}

.lektor-training .container .slider .slick-next {
  top: 35%;
  right: -10px;
  z-index: 10;
  background: url('../img/arrow-right.png') 0 0 no-repeat;
  width: 54px;
  height: 102px;
}

.lektor-training .container .slider .slick-next:hover {
  opacity: .8;
}

.lektor-training .container .slider .slick-next:before {
  content: '';
}

.lektor-training .container .slider .slick-dots {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 300px;
  height: 25px;
}

.lektor-training .container .slider .slick-dots li {
  margin-right: 20px;
}

.lektor-training .container .slider .slick-dots li button {
  border: 3px solid #fff;
  border-radius: 50%;
}

.lektor-training .container .slider .slick-dots li button:before {
  font-size: 16px;
  color: transparent;
  opacity: 1;
}

.lektor-training .container .slider .slick-dots .slick-active button:before {
  top: 1px;
  font-size: 18px;
  color: #fff;
  opacity: 1;
}

.lektor-training .container .slider .slick-slide {
  outline: none;
}

.programm-training .container {
  text-align: center;
}

.programm-training .container h3 {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 30px;
  color: #000;
  padding-top: 30px;
  margin-bottom: 35px;
}

.programm-training .container h2 {
  font-family: 'GothamProBlack', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 30px;
}

.programm-training .container p {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 20px;
  color: #000;
  margin-bottom: 50px;
}

.programm-training .container img {
  margin-bottom: 5px;
}

.programm-training .container .slider2 {
  margin-top: 35px;
  padding-left: 100px;
  padding-right: 100px;
}

.programm-training .container .slider2 div h3 {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 40px;
  color: #000;
  position: relative;
}

.programm-training .container .slider2 div h3:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #297eff;
  width: 152px;
  height: 6px;
}

.programm-training .container .slider2 .slick-prev {
  top: 60%;
  right: auto;
  left: -20px;
  z-index: 10;
  background: url('../img/arrow-left2.png') 0 0 no-repeat;
  width: 57px;
  height: 50px;
}

.programm-training .container .slider2 .slick-prev:hover {
  opacity: .8;
}

.programm-training .container .slider2 .slick-prev:before {
  content: '';
}

.programm-training .container .slider2 .slick-next {
  top: 60%;
  right: -20px;
  z-index: 10;
  background: url('../img/arrow-right2.png') 0 0 no-repeat;
  width: 58px;
  height: 51px;
}

.programm-training .container .slider2 .slick-next:hover {
  opacity: .8;
}

.programm-training .container .slider2 .slick-next:before {
  content: '';
}

.programm-training .container .slider2 .slick-slide {
  outline: none;
}

.hotel {
  background: #fff url(../img/hotel-bg.jpg) center 0 no-repeat;
  background-size: cover;
  min-height: 1078px;
}

.hotel .container {
  text-align: center;
}

.hotel .container h2 {
  font-family: 'GothamProBlack', sans-serif;
  font-size: 64px;
  color: #fff;
  padding-top: 100px;
  margin-bottom: 40px;
}

.hotel .container img {
  margin-bottom: 20px;
}

.hotel .container p {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 20px;
  color: #fff;
  margin-bottom: 80px;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

.hotel .container .slider3 {
  padding-left: 40px;
  padding-right: 40px;
}

.hotel .container .slider3 div {
  margin-bottom: 35px;
}

.hotel .container .slider3 .slick-prev {
  top: 60%;
  right: auto;
  left: -50px;
  z-index: 10;
  background: url('../img/arrow-left2.png') 0 0 no-repeat;
  width: 57px;
  height: 50px;
}

.hotel .container .slider3 .slick-prev:hover {
  opacity: .8;
}

.hotel .container .slider3 .slick-prev:before {
  content: '';
}

.hotel .container .slider3 .slick-next {
  top: 60%;
  right: -50px;
  z-index: 10;
  background: url('../img/arrow-right2.png') 0 0 no-repeat;
  width: 58px;
  height: 51px;
}

.hotel .container .slider3 .slick-next:hover {
  opacity: .8;
}

.hotel .container .slider3 .slick-next:before {
  content: '';
}

.hotel .container .slider3 .slick-dots {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 300px;
  height: 25px;
}

.hotel .container .slider3 .slick-dots li {
  margin-right: 20px;
}

.hotel .container .slider3 .slick-dots li button {
  border: 3px solid #fff;
  border-radius: 50%;
}

.hotel .container .slider3 .slick-dots li button:before {
  font-size: 16px;
  color: transparent;
  opacity: 1;
}

.hotel .container .slider3 .slick-dots .slick-active button:before {
  top: 1px;
  font-size: 18px;
  color: #fff;
  opacity: 1;
}

.hotel .container .slider3 .slick-slide {
  outline: none;
}

.training-price {
  background: #fff url(../img/training-price-bg.jpg) center 0 no-repeat;
  background-size: cover;
  min-height: 1465px;
}

.training-price .container h2 {
  font-family: 'GothamProBlack', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 30px;
}

.training-price .container img {
  display: block;
  margin: auto;
}

.training-price .container .trainings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 50px;
}

.training-price .container .trainings .training-standart,
.training-price .container .trainings .training-vip {
  -ms-flex-preferred-size: 440px;
  flex-basis: 440px;
  background: #fcf5e9 url(../img/training-price-left.jpg) top left no-repeat;
  border: 3px solid #b0afaf;
  border-radius: 10px;
  padding: 75px 15px 60px 15px;
}

.training-price .container .trainings .training-standart > h3,
.training-price .container .trainings .training-vip > h3 {
  font-family: 'GothamProBlack', sans-serif;
  font-size: 60px;
  color: #e3264e;
  text-align: right;
  margin-bottom: 120px;
}

.training-price .container .trainings .training-standart .old-price,
.training-price .container .trainings .training-vip .old-price {
  font-family: 'GothamProBlack', sans-serif;
  font-size: 50px;
  color: #e3264e;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}

.training-price .container .trainings .training-standart .old-price:after,
.training-price .container .trainings .training-vip .old-price:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: #e9477f;
  width: 190px;
  height: 2px;
}

.training-price .container .trainings .training-standart .new-price,
.training-price .container .trainings .training-vip .new-price {
  font-family: 'GothamProBlack', sans-serif;
  font-size: 50px;
  color: #39532e;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
}

.training-price .container .trainings .training-standart .new-price:after,
.training-price .container .trainings .training-vip .new-price:after {
  content: '';
  position: absolute;
  top: 55%;
  right: 0;
  background: #39532e;
  width: 190px;
  height: 2px;
}

.training-price .container .trainings .training-standart .new-price:before,
.training-price .container .trainings .training-vip .new-price:before {
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  background: url(../img/training-price-line.png);
  width: 189px;
  height: 96px;
}

.training-price .container .trainings .training-standart .training-description p,
.training-price .container .trainings .training-vip .training-description p {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 20px;
  color: #000;
  margin-bottom: 25px;
}

.training-price .container .trainings .training-standart button,
.training-price .container .trainings .training-vip button {
  display: block;
  margin: auto;
  margin-top: 100px;
  padding: 10px 60px;
  font-family: 'GothamProMedium', sans-serif;
  font-size: 40px;
  color: #000;
}

.training-price .container .trainings .training-standart {
  margin-right: 35px;
}

.training-price .container .trainings .training-vip {
  background: #fcf5e9 url(../img/training-price-right.jpg) top right no-repeat;
}

.training-price .container .trainings .training-vip h3 {
  font-family: 'GothamProBlack', sans-serif;
  font-size: 60px;
  color: #e3264e;
  text-align: left;
  margin-bottom: 120px;
}

.training-price .container > p {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 20px;
  color: #000;
  text-align: center;
  margin-bottom: 70px;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}

.prices {
  background: #fff url(../img/prices-bg.jpg) center 0 no-repeat;
  background-size: cover;
  min-height: 1204px;
}

.prices .container {
  text-align: center;
}

.prices .container h2 {
  font-family: 'GothamProBlack', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  margin-bottom: 55px;
}

.prices .container img {
  display: block;
  margin: auto;
  margin-bottom: 130px;
}

.prices .container .prices-left {
  display: inline-block;
  vertical-align: middle;
  width: 42%;
  margin-right: 2%;
  position: relative;
}

.prices .container .prices-left:after {
  content: '';
  position: absolute;
  top: -30px;
  left: 0;
  background: url(../img/fly.png) 0 0 no-repeat;
  width: 102px;
  height: 102px;
}

.prices .container .prices-left p {
  font-family: 'GothamProBlack', sans-serif;
  font-size: 20px;
  text-align: right;
  color: #fff;
}

.prices .container .prices-right {
  display: inline-block;
  vertical-align: middle;
  width: 42%;
  padding-left: 40px;
  position: relative;
}

.prices .container .prices-right:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #aef102;
  width: 5px;
  height: 100%;
}

.prices .container .prices-right ul {
  font-family: 'GothamProBlack', sans-serif;
  font-size: 25px;
  color: #fff;
  text-align: left;
  list-style: disc;
}

.prices .container .description {
  margin-top: 70px;
  margin-bottom: 30px;
  font-family: 'GothamProRegular', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.prices .container .partner {
  max-width: 945px;
  margin: auto;
  background: #f3e7db;
  border-radius: 10px;
  padding: 10px 25px 1px 25px;
}

.prices .container .partner h3 {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 40px;
  color: #2b80ff;
  margin-bottom: 15px;
}

.prices .container .partner p {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 20px;
  color: #000;
  margin-bottom: 35px;
  padding-left: 90px;
}

.prices .container .partner p:last-child {
  text-align: left;
  position: relative;
}

.prices .container .partner p:last-child:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background: url(../img/prices-notice.jpg);
  width: 79px;
  height: 79px;
}

.prices .container .price {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 15px;
  color: #fff;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 35px;
  padding-left: 90px;
}

.prices .container button {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 25px;
  color: #000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #2b6373;
  border-radius: 65px;
  padding: 10px 65px;
  margin-bottom: 100px;
}

.history {
  max-width: 1920px;
  margin: auto;
  background: #fff url(../img/history-bg.png) right 50px no-repeat;
  background-size: 40%;
  min-height: 610px;
}

.history .container h2 {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  margin-bottom: 70px;
}

.history .container .history-left {
  max-width: 650px;
}

.history .container .history-left p {
  font-family: 'GothamProBlack', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 40px;
}

.history .container .history-left ul {
  margin-bottom: 60px;
}

.history .container .history-left ul li {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 25px;
  padding-left: 40px;
  position: relative;
}

.history .container .history-left ul li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.history .container .history-left button {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 25px;
  color: #000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #2b6373;
  border-radius: 65px;
  margin-left: 45px;
  padding: 10px 65px;
}

.reviews {
  background: #fff url(../img/review-bg.png) center 0 no-repeat;
  background-size: cover;
  min-height: 979px;
}

.reviews .container {
  overflow-x: hidden;
}

.reviews .container h2 {
  font-family: 'GothamProBlack', sans-serif;
  font-size: 64px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding-top: 215px;
  margin-bottom: 40px;
}

.reviews .container > img {
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

.reviews .container > p {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin: auto;
  margin-bottom: 50px;
  max-width: 810px;
}

.reviews .container .slider4 .slick-list {
  overflow: visible;
}

.reviews .container .slider4 .slide {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff574e), to(#ffa04f));
  background: linear-gradient(to bottom, #ff574e, #ffa04f);
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  margin-right: 30px;
  margin-left: 30px;
  position: relative;
}

.reviews .container .slider4 .slide:after {
  content: '';
  position: absolute;
  top: 50px;
  left: 50px;
  background: url(../img/slider4-bg.png) 0 0 no-repeat;
  width: 51px;
  height: 33px;
}

.reviews .container .slider4 .slide img {
  position: absolute;
  top: -30px;
  right: -15px;
  z-index: 10;
}

.reviews .container .slider4 .slide p {
  font-family: 'GothamProRegular', sans-serif;
  font-size: 18px;
  color: #fff;
  padding-top: 140px;
  padding-bottom: 50px;
}

.reviews .container .slider4 .slide span {
  float: right;
  font-family: 'GothamProRegular', sans-serif;
  font-size: 18px;
  color: #fff;
}

.reviews .container .slider4 .slide span:nth-child(4) {
  margin-right: 20px;
}

.reviews .container .slider4 .slick-prev {
  top: 60%;
  right: auto;
  left: -50px;
  z-index: 10;
  background: url('../img/arrow-left2.png') 0 0 no-repeat;
  width: 57px;
  height: 50px;
}

.reviews .container .slider4 .slick-prev:hover {
  opacity: .8;
}

.reviews .container .slider4 .slick-prev:before {
  content: '';
}

.reviews .container .slider4 .slick-next {
  top: 60%;
  right: -50px;
  z-index: 10;
  background: url('../img/arrow-right2.png') 0 0 no-repeat;
  width: 58px;
  height: 51px;
}

.reviews .container .slider4 .slick-next:hover {
  opacity: .8;
}

.reviews .container .slider4 .slick-next:before {
  content: '';
}

.reviews .container .slider4 .slick-slide {
  outline: none;
}

.reviews .container button {
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 10px 85px;
  font-family: 'GothamProMedium', sans-serif;
  font-size: 40px;
  color: #000;
}

.footer {
  background: #f3e7db;
  padding: 45px 0 80px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .container .footer-logo {
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%;
  text-align: center;
}

.footer .container .footer-logo h3 {
  font-family: 'GothamProMedium', sans-serif;
  color: #000;
  font-size: 25px;
  margin-bottom: 50px;
}

.footer .container .footer-address {
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%;
}

.footer .container .footer-address h3 {
  font-family: 'GothamProMedium', sans-serif;
  color: #000;
  font-size: 25px;
  margin-bottom: 40px;
}

.footer .container .footer-address .phone {
  display: block;
  font-family: 'GothamProMedium', sans-serif;
  color: #000;
  font-size: 25px;
  margin-bottom: 30px;
}

.footer .container .footer-address .call {
  display: block;
  font-family: 'GothamProMedium', sans-serif;
  color: #31749b;
  text-decoration: underline;
  font-size: 25px;
}

.footer .container .footer-social {
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%;
}

.footer .container .footer-social h3 {
  font-family: 'GothamProMedium', sans-serif;
  color: #000;
  font-size: 25px;
  margin-bottom: 20px;
}

.footer .container .footer-social a {
  font-size: 0;
  margin-right: 20px;
}

.footer .container .footer-social .mail {
  font-family: 'GothamProMedium', sans-serif;
  color: #31749b;
  text-decoration: underline;
  font-size: 25px;
  display: block;
  text-decoration: none;
  margin-top: 19px;
}

.arrow {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 300;
  display: none;
}

.popup {
  display: none;
  background: #fff url(../img/popup-bg.png) center 0 no-repeat;
  background-size: cover;
  width: 820px;
  padding: 30px 150px;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 5px #555;
  box-shadow: 0 0 5px #555;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 30px;
  z-index: 20;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup h3 {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 60px;
  color: #000;
  margin-bottom: 50px;
}

.popup form input {
  display: block;
  margin-bottom: 25px;
  width: 80%;
  padding: 35px 26px;
  border: 1px solid #a9a7be;
  border-radius: 50px;
  background-color: #fff;
  font-family: 'GothamProMedium', sans-serif;
  font-size: 30px;
  color: #000;
}

.popup form input::-webkit-input-placeholder {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 30px;
  color: #000;
  opacity: .7;
}

.popup form input:-ms-input-placeholder {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 30px;
  color: #000;
  opacity: .7;
}

.popup form input::-ms-input-placeholder {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 30px;
  color: #000;
  opacity: .7;
}

.popup form input::placeholder {
  font-family: 'GothamProMedium', sans-serif;
  font-size: 30px;
  color: #000;
  opacity: .7;
}

.popup form button {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 80%;
  height: 100px;
  font-family: 'GothamProMedium', sans-serif;
  font-size: 45px;
  color: #000;
  text-align: center;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#aef000), to(#a0dc03));
  background: linear-gradient(to bottom, #aef000, #a0dc03);
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.popup form button:hover {
  opacity: .8;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 58px;
  height: 58px;
  background: url("../img/x.png") no-repeat;
  border: 0;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.close:hover {
  opacity: 0.8;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

@media only screen and (max-width: 1199px) {
  .main-menu .container ul li a {
    font-size: 18px;
  }

  .main-menu .container ul .active a {
    font-size: 18px;
  }

  .features .container .features-items .features-item {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
  }

  .why-training .container .why-training-left-right {
    margin-left: 0;
  }

  .why-training .container .why-training-left-right .middle {
    margin-bottom: 50px;
  }

  .after-training .container .bottom {
    margin-bottom: 50px;
  }

  .programm-training .container .slider2 .slick-prev {
    left: 0;
  }

  .programm-training .container .slider2 .slick-next {
    right: 0;
  }

  .hotel .container .slider3 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 991px) {
  .popup {
    width: 600px;
    padding: 20px 30px;
  }

  .close {
    top: 15px;
    right: 15px;
  }

  .why-training .container .why-training-left-right {
    margin-left: 0;
  }

  .why-training .container .why-training-left-right .top .why-training-top-left .item {
    width: auto;
  }

  .why-training .container .why-training-left-right .top .why-training-top-right .item {
    width: auto;
  }

  .why-training .container .why-training-left-right .middle .why-training-middle-left .item {
    width: auto;
  }

  .why-training .container .why-training-left-right .middle .why-training-middle-right .item {
    width: auto;
  }

  .why-training .container .why-training-left-right .bottom .why-training-bottom-left .item {
    width: auto;
  }

  .why-training .container .why-training-left-right .bottom .why-training-bottom-right .item {
    width: auto;
  }

  .programm-training .container .slider2 {
    padding-left: 0;
    padding-right: 0;
  }

  .training-price .container .trainings .training-standart,
  .training-price .container .trainings .training-vip {
    padding: 75px 5px 60px 5px;
  }

  .training-price .container .trainings .training-standart .old-price,
  .training-price .container .trainings .training-vip .old-price {
    font-size: 40px;
  }

  .training-price .container .trainings .training-standart .new-price,
  .training-price .container .trainings .training-vip .new-price {
    font-size: 40px;
  }

  .training-price .container .trainings .training-standart {
    margin-right: 10px;
  }

  .history {
    background: none;
  }

  .history .container .history-left {
    max-width: none;
    width: 100%;
  }

  .history .container .history-left button {
    margin-left: 0;
  }

  .footer .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
  }

  .footer .container .footer-logo {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  .footer .container .footer-address {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .footer .container .footer-social {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .footer .container .footer-social a {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .popup {
    width: 500px;
    padding: 10px 20px;
  }

  .close {
    top: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .header .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .header .container .header-logo {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .header .container .header-address {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .header .container .header-address p {
    font-size: 20px;
  }

  .header .container .header-phone {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
  }

  .header .container .header-phone a {
    font-size: 20px;
  }

  .main-menu .container ul li a {
    padding: 10px 0;
    font-size: 15px;
  }

  .main-menu .container ul .active a {
    padding: 10px 0;
    font-size: 15px;
  }

  .promo .container h1 {
    font-size: 40px;
  }

  .features .container .features-items .features-item p {
    font-size: 16px;
  }

  .why-training .container .why-training-left-right .top .why-training-top-left .item h3 {
    font-size: 30px;
    padding-left: 100px;
  }

  .why-training .container .why-training-left-right .top .why-training-top-left .item h3:before {
    font-size: 60px;
  }

  .why-training .container .why-training-left-right .top .why-training-top-right .item h3 {
    font-size: 30px;
    padding-left: 100px;
  }

  .why-training .container .why-training-left-right .top .why-training-top-right .item h3:before {
    font-size: 60px;
  }

  .why-training .container .why-training-left-right .middle .why-training-middle-left .item h3 {
    font-size: 30px;
    padding-left: 100px;
  }

  .why-training .container .why-training-left-right .middle .why-training-middle-left .item h3:before {
    font-size: 60px;
  }

  .why-training .container .why-training-left-right .middle .why-training-middle-right .item h3 {
    font-size: 30px;
    padding-left: 100px;
  }

  .why-training .container .why-training-left-right .middle .why-training-middle-right .item h3:before {
    font-size: 60px;
  }

  .why-training .container .why-training-left-right .bottom .why-training-bottom-left .item h3 {
    font-size: 30px;
    padding-left: 100px;
  }

  .why-training .container .why-training-left-right .bottom .why-training-bottom-left .item h3:before {
    font-size: 60px;
  }

  .why-training .container .why-training-left-right .bottom .why-training-bottom-right .item h3 {
    font-size: 30px;
    padding-left: 100px;
  }

  .why-training .container .why-training-left-right .bottom .why-training-bottom-right .item h3:before {
    font-size: 60px;
  }

  .hotel {
    min-height: 900px;
  }

  .hotel .container .slider3 div img {
    margin: auto;
  }

  .training-price .container .trainings {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .training-price .container .trainings .training-standart > h3,
  .training-price .container .trainings .training-vip > h3 {
    margin-bottom: 50px;
  }

  .training-price .container .trainings .training-standart {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .prices .container img {
    margin-bottom: 50px;
  }

  .prices .container .prices-left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .prices .container .prices-left:after {
    display: none;
  }

  .prices .container .prices-left p {
    text-align: center;
    font-size: 30px;
  }

  .prices .container .prices-right {
    width: 100%;
  }

  .prices .container .prices-right ul li {
    margin-bottom: 10px;
  }

  .prices .container .partner p {
    padding-left: 0;
  }

  .prices .container .partner p:last-child:after {
    display: none;
  }

  .prices .container .price {
    padding-left: 0;
  }

  .reviews .container h2 {
    font-size: 45px;
  }

  .reviews .container .slider4 .slide {
    padding-left: 5px;
    padding-right: 5px;
  }

  .reviews .container button {
    padding: 10px 30px;
  }
}

@media only screen and (max-width: 575px) {
  .popup {
    width: 400px;
    padding: 5px 10px;
  }

  .popup h3 {
    font-size: 50px;
  }

  .popup form input {
    font-size: 26px;
  }

  .popup form input::-webkit-input-placeholder {
    font-size: 26px;
  }

  .popup form input:-ms-input-placeholder {
    font-size: 26px;
  }

  .popup form input::-ms-input-placeholder {
    font-size: 26px;
  }

  .popup form input::placeholder {
    font-size: 26px;
  }

  .main-menu .container ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main-menu .container ul li:first-child {
    border-radius: 0;
  }

  .main-menu .container ul li:last-child {
    border-radius: 0;
  }

  .main-menu .container ul li a {
    padding: 10px 0;
  }

  .main-menu .container ul .active a {
    padding: 10px 0;
  }

  .features .container .features-items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .features .container .features-items .features-item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  .why-training .container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .why-training .container .why-training-left-right .top {
    margin-bottom: 10px;
  }

  .why-training .container .why-training-left-right .top .why-training-top-left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .why-training .container .why-training-left-right .top .why-training-top-right {
    width: 100%;
    margin-bottom: 10px;
  }

  .why-training .container .why-training-left-right .middle {
    margin-bottom: 10px;
  }

  .why-training .container .why-training-left-right .middle .why-training-middle-left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .why-training .container .why-training-left-right .middle .why-training-middle-right {
    width: 100%;
    margin-bottom: 10px;
  }

  .why-training .container .why-training-left-right .bottom .why-training-bottom-left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .why-training .container .why-training-left-right .bottom .why-training-bottom-right {
    width: 100%;
    margin-bottom: 10px;
  }

  .after-training .container .top .after-training-top-left {
    width: 100%;
  }

  .after-training .container .top .after-training-top-right {
    width: 100%;
  }

  .after-training .container .bottom .after-training-bottom-left {
    width: 100%;
  }

  .after-training .container .bottom .after-training-bottom-right {
    width: 100%;
  }

  .programm-training .container img:nth-child(5) {
    display: none;
  }

  .prices .container h2 {
    font-size: 28px;
  }

  .footer .container .footer-address {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  .footer .container .footer-social {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .popup {
    width: 330px;
  }

  .popup h3 {
    margin-bottom: 10px;
  }

  .popup form input {
    width: 100%;
  }

  .popup form button {
    width: 100%;
  }

  .close {
    top: 30px;
  }

  .training-price .container .trainings .training-standart,
  .training-price .container .trainings .training-vip {
    width: 300px;
  }

  .training-price .container .trainings .training-standart button,
  .training-price .container .trainings .training-vip button {
    padding: 10px 20px;
  }
}